:root{
    --main-color: #b1b7e9;
    --second-color: #0a2359;
    scroll-behavior: smooth;
}
ul{
    list-style-type: none;
}
/*container*/
.container {
    margin: 0 auto;
}

@media (min-width: 768px){
    .container {
       width: 750px;

    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    } 
}
@media (min-width: 1200px) {
    .container {
        width: 1180px;
    } 
}

.logo{
    width: 120px;
    border-radius: 50%;
}
.logo img{
    max-width: 100%;
}
header , footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 83px;
}
.left_header ul{
    display: flex;
}
.left_header ul li a{
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
    font-size: 20px;
}
.content{
   min-height: calc(100vh - 83px);
   background-color: var(--main-color);
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.get_pack{
    border: none;
    outline: none;
    font-size: 30px;
    color: var(--second-color) ;
    padding:30px;
    background-color: #ffffff;
    width: 40%;
    border-radius: 5%;
    cursor: pointer;
    
}
.get_pack span{
    margin-right: 10px;
}
@media (max-width: 992px){
    .get_pack{
        font-size: 22px;
    }
}
@media (max-width: 600px){
    .get_pack{
        font-size: 18px;
        width: 80%;
    }
.left_header ul li a{
    font-size: 18px;
}
}
.tools{
    min-height: calc(100vh - 83px);
}
.tools h2{
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid ;
    padding: 10px
}
.tool{
    position: relative;
    width: 90%;
    left: 50%;
    transform: translatex(-50%);
    
}
#area{
    width: calc(100% - 40px);
    max-width: 100%;
    height: 200px;
    resize: none;
    margin: 20px 0;
    font-size: 20px;
    padding:20px 20px;
}

.tool .buttons{
    display: flex;
    flex-direction: column;
}
.tool .buttons button{
    font-size: 24px;
    padding:10px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    color: #ffffff
}
.tool .buttons button:first-child{
    background-color:var(--second-color) ;

}
.tool .buttons button:nth-child(3){
    background-color: red;
}
.tool .buttons button:nth-child(2){
    background-color:   gray
}
.footer{
    background-color: var(--main-color);
    color: var(--second-color);
    height: 83px;
}
footer ul{
    display: flex;
}
footer i{
    font-size: 30px;
    margin-right: 15px;

}